.header__nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}

.header__nav:hover {
  opacity: 0.6;
}